<div class="mb-2">
    <button id="addPartnerBtn" type="button"
            get-url="@Url.Action("Create")"
            result-target-id="#mainModal div.modal-body" call-after-success-close="serversTableRefresh"
            class="btn btn-primary" data-toggle="modal" data-target="#mainModal">
        +
    </button>

    <a asp-controller="Export" asp-action="Import" class="btn btn-outline-dark float-right">Import</a>
    <a asp-controller="Export" asp-action="Export" class="btn btn-outline-dark float-right" >Export mind</a>
</div>


<table id="pertnersTable" width="100%" class="table row-border" style="width:100%">
        <thead>
            <tr>
                <th>ID</th>
                <th>Név</th>
                <th>Címek</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
         </tbody>
    </table>

@section Scripts
    {
    <script>
        $(function () {

            var t = $("#pertnersTable").DataTable(
                {
                    columns: [
                        {
                            data: "id"
                        },
                        {
                            data: "displayName"
                        },
                        {
                            data: "addresses",
                            sortable: false,
                            render: function (data) {
                                var s = "<ol>";
                                data.forEach((e) => {
                                    s += `<li>${e.postalCode} ${e.city}, ${e.address} (${e.countryCode}) </li>`;
                                });
                                s += "</li>"
                                return s;
                            }

                        },
                        {
                            data: null,
                            width: "30px",
                            class: "editor",
                            sortable: false,
                            render: function() { 
                                return "<button class='btn btn-danger deleteBtn'>X</button>";
                            }
                        }
                    ],
                    processing: true,
                    serverSide: true,
                    ajax: '@Url.Action("GetPartnerRows")',
                    rowId: 'id'
                }
            );

            $("body").on("click", "#addPartnerBtn",
                function () {                   
                    $.get(
                        "@Url.Action("Create")",
                        function (data) {
                            $("#mainModalBody").html("");
                            $("#mainModalBody").html(data);
                            $("#singlePartnerExport").hide();
                        }
                    );
            });

            $("body").on("click", "#addAddressRowCreate",
                function (e) {
                    var form = $(this).closest(".modal").find("form");
                    var action = "@Url.Action("AddNewAddress")?isEdit=0";
                    var fn = callAjax(action, form);
                    fn.done(function (data) {
                        $("#mainModalBody").html(data);
                    });
                }
            );
            $("body").on("click", "#addAddressRowEdit",
                function (e) {
                    var form = $(this).closest(".modal").find("form");
                    var action = "@Url.Action("AddNewAddress")?isEdit=1";
                    var fn = callAjax(action, form);
                    fn.done(function (data) {
                        $("#mainModalBody").html(data);
                    });
                }
            );

            $('#pertnersTable').on('click', 'tbody', function (event) {
                if ($(event.target).hasClass('deleteBtn')) {
                    return;
                }
                $("#mainModalBody").html("Betöltés...")
                $("#mainModal").modal("show");
                var p = $(event.target).closest('tr')[0].id;
                $("#singlePartnerExport").show();
                $("#singlePartnerExport").attr("partnerid", p);

                $.get("@Url.Action("Edit")?id=" + p, 
                    function (data) {
                        $("#mainModalBody").html(data);
                });                 
            });
        });

        $('#pertnersTable').on('click', 'tbody button', function (event) {
            $("#singlePartnerExport").hide();
            $("#mainModalBody").html("Betöltés...")
            $("#call-after-success-close").val("windows.location.reload()")

            $("#mainModal").modal("show");
            var p = $(event.target).closest('tr')[0].id;
            $.get("@Url.Action("Delete")/" + p,
                function (data) {
                    $("#mainModalBody").html(data);
                });
        });

        $('#singlePartnerExport').on('click', function (event) {
            event.preventDefault();
            var p = $(event.target).attr("partnerid");
            window.location = `@Url.Action("Export","Export")/${p}`;
        });
    </script>
}


